@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0%;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  width: 100%;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row; 
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-white{
    color: white;
}

.view-padding{
    padding: 1% 3%;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.header{
    background: rgb(206,20,90);
    align-items: center;
}

.container-logo{
    height: 50px;
}

.logo{
    height: 100%;
}

.principal-text{
    font-size: 45px;
}

.nav{
    background: rgb(3,45,84);
    margin-top: 3px;
    align-items: center;
}

.container-input{
    flex: 2;
}

.search{
    width: 30%;
    height: 30px;
    border-radius: 15px;
    padding-left: 1%;
}

.container-text-nav {
    width: 215px;
}

.link-nav:hover{
    background:white;
    color: rgb(3,45,84);
    border-radius: 15px;
    padding: 5px;
}

.text-shopping-cart {
    margin-left: 10px;
    font-size: 13px;
}

.fa-shopping-cart{
    display: flex;
    align-items: center;
    font-size: x-large;
}

.secundary-text{
    font-size: 17px;
}

.view-more{
    align-items: center;
    background: whitesmoke;
    width: 100%;
    padding: 2%;
    display: flex;
    padding: 4% 0;
}

.more-info{
    font-size: 12px;
    flex: 9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view{
    font-size: 12px;
    color: rgb(206,20,90);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.container-view{
    height: 100%;
    flex: 9;  
}

.share{
    color: rgb(3,45,84);
}

.container-view:hover {
    background: rgba(189, 188, 188, 0.763);
    border-radius: 30px 0 0 30px;
}

.more-info:hover{
    background: rgba(189, 188, 188, 0.763);
    border-radius: 0 30px 30px 0;
}

.btn-add {
    width: 100%;
    background: rgb(3,45,84);
    height: 43px;
    border: none;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
}

.btn-add:hover {
    background: rgb(206,20,90);
}

.section-book{
    padding: 2% 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.container-product{
    align-items: center;
    height: 350px;
    width: 200px;
    border: 1px solid rgb(3,45,84);
    border-radius: 5px;
    margin: 2% 1% 0 1%
}

.container-product:hover{
    box-shadow: 0 1rem 2rem 0.5rem rgb(0 19 59 / 77%);
}

.container-image-product{
    height: 180px;
    padding: 5% 0;
}

.product {
    height: 100%;
}

.conyainer-.detail-product{
    padding: 1%;
}

.detail-product{
    color: rgb(3,45,84);
    font-size: 11px;
    width: 10;
    width: 100%;
    padding-left: 10%;
}

.info-product{
    color: rgb(3,45,84);
    font-size: 16px;
}

.footer{
    background: rgb(3,45,84);
}

.footer-fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}    

.text-footer{
    align-items: center;
    display: flex;
}

.container-icono-footer{
    align-items: center;
    padding: 1% 0%;
    width: 200px;
}

.container-icono-padding{
    padding-right: 3%;
}

.icono-footer:hover {
    transform: scale(2, 2);
}

.container-contact{
    justify-content: center;
    align-items: center;
}

.contact{
    height: 200px;
    background: whitesmoke;
    padding: 1% 5%;
    border-radius: 20px;
    color:rgb(3,45,84)
}

.link-contact{
    color:rgb(3,45,84)
}

.map{
    margin: 3%;
    display: flex;
    justify-content: center;
}

.iframe-map{
    width: 400px;
    height: 300px;
}

.container-info-book {
    padding: 3% 8%;
    height: 500px;
}

.container-photo-book{
    max-width: 300px;
    padding: 2%;
    background: whitesmoke;
    border-radius: 25px;
    align-items: center;
    display: flex;
}

.photo-book{
    width: 100%;
}

.detail-book{
    padding: 0 4%;
}

.publicity{
    height: 130px;
    width: 100%;
    margin-top: 1%;
}

.photo-publicity{
    height: 100%;
    width: 100%;
    object-fit: cover;
  /*   flex: 1; */
    padding: 0.5%;
}

  @media only screen and (max-width: 768px) {

    .publicity{
        display: none;
    }
    
    .principal-text {
        font-size: 35px;
    }

    .nav{
        align-items: center;
        flex-direction: column;
    }

    .container-text-nav{
        width: 100%;
        justify-content: flex-start;
    }

    .secundary-text{
        margin-right: 2%;
    }

    .container-input{
        justify-content: space-between;
        margin: 2% 0;
        order: 2;
        width: 100%;
    }

    .container-shopping-cart {
        order: 1;
        width: 100%;
        justify-content: flex-end;
    }
    
    .container-contact{
        flex-direction: column;
    }

    .contact{
        margin-top: 4%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-fixed{
        position: relative;
    }

    .container-info-book{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .container-photo-book{
        max-height: 200px;
    }

    .photo-book{
        max-height: 200px;
        width: auto;
    }

    .detail-book{
        margin: 5% 0;
        height: 470px;
    }
}

  @media only screen and (max-width: 480px) {
    .container-input{
        flex-direction: column;
        align-items: center;
    }

    .search{
        width: 100%;
        padding-left: 4%;
    }

    .detail-book{
        margin: 7% 0;
        height: 510px;
    }

  }
